.menu {
    margin-right: 900px;
  }
  
  .sidemenuButton{
    background-image: linear-gradient(to right,blue, rgb(141, 73, 141));
  }
  
  .labelColor{
    color: rgb(47, 47, 156);
    font-weight:bold;
    font-size: small;
    font-style:inherit;
  }
  
  ::placeholder {
    font-size: small;
    font-weight: bold;
    color: rgb(151, 148, 148);
  }
  
  .btn {
    background-color: light-green;
    padding: 12px 16px;
    font-size: 16px;
  }
  .btn:hover {
    background-color: green;
  }
  .contain{
    display: flex;
    flex-wrap: wrap;
  }
  